:root {
    --primary-color: rgb(243, 175, 64);
    --secondary-color: rgb(255, 0, 0);
    --text-color: rgb(241, 239, 239);
    --font-family: Arial, sans-serif;
    --padding: 1rem;
    --margin: 0;
    --box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 165px;
    z-index: 0;
}

header {
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    background-image: url("/static/img/PNG0.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.cards {
    background-color: var(--primary-color);
    font-weight: bold;
}

.cardss {
    border-radius: 20px!important;
}

header a{
    z-index: 1;
    color: white!important;
    font-size: 7rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    z-index: 1;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    z-index: 1;
}

nav ul li a {
    color: var(--secondary-color)!important;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    z-index: 1;
}

nav ul li a:hover{
    background-color: #dddddd71;
    color: inherit;
    border-radius: 15px;
}

a.nav-link:hover {
    background-color: #dddddd71;
    color: inherit;
    border-radius: 15px;
}

.nav-link:hover {
    background-color: #dddddd71;
    color: inherit;
    border-radius: 15px;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: var(--primary-color)!important;
    color: var(--secondary-color)!important;
}

footer a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color)!important;
    text-decoration: none!important;
    padding: 5px;
}

footer a:hover {
    background-color: #dddddd71;
    color: inherit;
    border-radius: 15px;
}

footer h5 {
    margin-bottom: 1rem;
}

footer p, footer ul {
    margin-bottom: 0;
}


.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    text-align: left;
}

.product-card h3 {
    margin-top: 0;
}

.product-card h4 {
    color: #666;
}

.product-card p {
    margin: 0.5rem 0;
}

.about-hero {
    background-color: var(--primary-color);
    font-weight: bold;
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    padding: 60px 0;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

section img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.our-values .col-md-4 {
    margin-bottom: 30px;
}

.colorUni {
    background-color: var(--primary-color);
    border-radius: 20px!important;
}

.navbar-brand img {
    height: 200px;
    width: 200px;
}